@page "/userslist"
@using BlazorApp.Services
@using Library.Domain.Aggregates
@using Library.Domain.Models
@inject LibraryClient LibraryClient

<h1>Spis użytkowników</h1>

<p>Użytkownicy zarejestrowani w systemie:</p>

@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Rok wydania</th>
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.City</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<UserModel> Users;

    protected override async Task OnInitializedAsync()
    {
        Users = await LibraryClient.GetUsersAsync();
    }
 }
